<head lang="{{ .Site.Language.Lang }}">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{- if .IsHome }}
	<title>{{ .Site.Title }} | Home</title>
	{{- else }}
	<title>{{ .Title }} - {{ .Site.Title }}</title>
	{{- end }}

	{{ with or .Description .Summary .Site.Params.description -}}
	<meta name="description" content="{{ . }}" />
	{{ end -}}

	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}

	{{ $style := resources.Get "css/main.css" | fingerprint }}
	<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />
	{{ $dark := resources.Get "css/dark.css" | fingerprint }}
	<link rel="stylesheet" type="text/css" href="{{ $dark.Permalink }}" media="(prefers-color-scheme: dark)" />
</head>
